div.col-md-12.push-top  
    h2.countNumber Live user connections: 0
    ul.list-group.live
        li.list-group-item.d-flex.justify-content-between.align-items-center
            | No clients right now
            