nav.navbar.navbar-expand-sm.navbar-light.bg-light
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarTogglerDemo03.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item
        a.nav-link(href='/dashboard')
          | Dashboard
          span.fas.fa-tachometer-alt.icon 
      li.nav-item
        a.nav-link(href='/servers') Servers
          span.fas.fa-gamepad.icon 
      li.nav-item
        a.nav-link(href='/master') Master Server
          span.fas.fa-server.icon           
      li.nav-item
        a.nav-link(href='/tools') Tools
          span.fas.fa-tools.icon
      li.nav-item
        a.nav-link(href='/users') Users
          span.fas.fa-users.icon 
    .social-part
      a(href='https://www.facebook.com/wib.kalle')
       i.fab.fa-facebook-f
      a(href='https://github.com/kallefrombosnia')
       i.fab.fa-github