.col-sm-4.push-top 
    .card.text-center.w-100.p-3
        .card-body
            h5.card-title Check user info
            p.card-text Checks user ip info
            a.btn.btn-primary(href='tools/user') Use

.col-sm-4.push-top 
    .card.text-center.h-100.d-inline-block.w-100.p-3
        .card-body
            h5.card-title Check server
            p.card-text Scan server info
            a.btn.btn-primary(href='tools/server') Use

.col-sm-4.push-top 
    .card.text-center.h-100.d-inline-block.w-100.p-3
        .card-body
            h5.card-title Ping
            p.card-text Ping server
            a.btn.btn-primary(href='tools/ping') Use
